.nav-menu {
  display: flex;
  align-items: center;
  .logo {
    object-fit: contain;
    padding-top: 12px;
  }
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: inherit;
    .nav-link {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: -0.408px;
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: none;
    }
    .page-item::marker {
      font-size: 0;
    }
    .nav-btn {
      background: rgba(255, 255, 255, 0.09) !important;
      border-radius: 4px;
      outline: none;
      display: flex;
      justify-content: space-around;
      border: none !important;
      cursor: pointer;
      outline: none !important;
      .dropdown-toggle {
        background-color: none;
        border: none;
        outline: none;
        justify-content: space-between;
        svg {
          font-size: 7px;
          color: white;
          margin-left: 2px;

          background: #fff;
          border-radius: 50%;
        }
        &::after {
          display: none;
        }
      }
      .drop-item {
        background: #ffffff;
        border-radius: 8px;
        font-weight: 500;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: -0.408px;
        text-transform: uppercase;
        color: #000000;
      }

      .sr-only {
        font-size: 15px;
        color: #f63362;
      }
      .page-link {
        font-size: 15px;
        color: #f63362;
        line-height: 22px;
        letter-spacing: -0.408px;
        text-transform: uppercase;
      }
    }
  }
  .contact-menu {
    display: flex;
    align-items: center;
    margin-left: 0px;
    padding-top: 14px;
    .btn-top {
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: -0.408px;
      text-transform: uppercase;
      color: #ffffff;
      background: #f63362;
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding: 14px 20px;
      border: none;
      outline: none;
      cursor: pointer;
      svg {
        margin-right: 8px;
        font-size: 16px;
        line-height: 22px;
      }
    }
    .dropdown-toggle {
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: -0.408px;
      text-transform: uppercase;
      color: #ffffff;
      padding: 13px 17px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 6px;
      cursor: pointer;
      outline: none;
      margin-left: 10px;
      background: bottom;
      &::after {
        display: none;
      }
      svg:nth-child(1) {
        margin-right: 5px;
      }
      svg:nth-child(2) {
        margin-left: 5px;
      }
    }
    img {
      margin-left: 10px;
    }
    .bell-icon {
      margin-left: 10px;
      cursor: pointer;
      svg {
        font-size: 24px;
        color: #fff;
      }
      .badge {
        color: #f63362;
        border-radius: 50%;
      }
    }
    .search-icon {
      margin-left: 5px;
      color: #fff;
      font-size: 21px;
      cursor: pointer;
    }
  }
}
.navbar{
  #nav-icon1 {
    width: 35px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 5;
    opacity: 0;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 15px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 18px;
    display: none;
  }

  #nav-icon1 span:nth-child(3) {
    top: 25px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .hamburger-menu.active {
    opacity: 0;
    visibility: visible;
    top: 0;
  }
  .hamburger-menu {
    position: fixed;
    width: 50%;
    padding-top: 100px;
    padding-bottom: 60px;
    top: 0;
    right: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff !important;
    height: 100vh;
  }
}
@media screen and (max-width: 1024px) {
  .nav-menu .nav-link{
    padding: .5rem;
    .nav-item{
      flex-wrap: inherit;
    }
    .contact-menu{
      .btn-top{
        padding: 5px 15px;
      }
    }
  }

}
@media screen and (max-width: 992px) {
  .nav-menu .logo {
    opacity: 1;
  }
  .nav-menu{
    display: none;
  }
  
}

@media screen and (max-width: 768px) {

  .humburger-menu.active {
    opacity: 1;
  }
  .navbar #nav-icon1{
    opacity: 1;
  }
}

