.footer{
    background-color: #000000;
    padding-top: 18px;
    align-items: center;
    z-index: 9999;
    .foot-logo{
        text-align: left;
        p{
            font-size: 13px;
            line-height: 30px;
            letter-spacing: -0.408px;
            color: #FFFFFF;
            margin-top: 8px;
        }
    }
    .nav-foter{
        display: block;
        flex-direction: column;
        .nav-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 375px) {
                display: inline;
            }
            .nav-item{
                .nav-link{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 30px;
                    letter-spacing: -0.408px;
                    text-transform: uppercase;
                    color: #ffff;
                    padding-top: 0;
                }
            }
        }
        .nav-bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 375px) {
                display: inline;
            }
            .nav-item{
                .nav-link{
                    font-size: 12px;
                    line-height: 30px;
                    letter-spacing: -0.408px;
                    color: rgba(255, 255, 255, 0.35);
                }
            }
        }
    }
    .footer-download{
        display: flex;
    }
}


