.service{
    margin-top: 40px;
    margin-bottom: 30px;
    .joint-title{
        font-weight: 500;
        font-size: 40px;
        line-height: 46px;
        letter-spacing: -0.408px;
        color: #FFFFFF;
        text-align: left;
    }
    .joint-text{
        margin-top: 20px;
        p{
            font-size: 18px;
            line-height: 30px;
            letter-spacing: -0.408px;
            color: rgba(255, 255, 255, 0.7);
        }
    }
    

}